<!DOCTYPE html>
<html lang="en" ng-app="freewill">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Free Will Chat</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="bower_components/normalize.css/normalize.css">
    <link href="assets/css/style.css" rel="stylesheet">
  </head>

  <body ng-controller="UserController as user" ng-cloak>
    <section class="dialogs-container" ng-show="user.dialogOn">
      <section class="dialog dialog-name" ng-show="!user.isValid">
        <div ng-show="!user.setNameForm" class="dialog-name-loading">
          <p>Checking for your data...</p>
        </div>

        <div class="user-form" ng-show="user.setNameForm">
          <h2>Please, type your name:</h2>
          <div class="chat-txt">
            <input ng-model="user.userName" type="text" class="form-control" autocomplete="off" ng-enter="user.setName()" />
          </div>
          <button class="btn btn-danger" type="submit" ng-click="user.setName()">Send</button>
        </div>
      </section>
    </section>

    <section class="wrapper ng-class: {disabled: !user.isValid};">
      <section class="online-users">
        <header>People</header>
        <ul class="online-users-list">
          <li data-id="{{client.id}}" ng-repeat="client in user.clients">{{client.name}}</li>
        </ul>
      </section>

      <section class="chat-room" ng-controller="MessageController as chat">
        <header>
          <div class="header-text">Room</div>
          <div class="header-action">
            <button ng-click="user.logout()">Logout</button>
          </div>
        </header>

        <section class="chat-room-messages">
          <div class="message-box">
            <div class="user-name">Welcome!</div>
            <div class="message">This is Free Will Chat! :)</div>
            <div class="when"></div>
          </div>

          <div class="message-box {{message.class}}" ng-repeat="message in chat.messages">
            <div class="user-name">{{message.name}}</div>
            <div class="message">{{message.message}}</div>
            <div class="when">{{message.time | convertToHour}}</div>
          </div>
        </section>

        <footer class="chat-form">
          <div class="chat-txt">
            <input type="text" class="form-control" tabindex="1" ng-model="chat.newMessage" ng-enter="chat.sendMessage()" />
          </div>
          <button tabindex="2" ng-click="chat.sendMessage()">Send</button>
        </footer>
      </section>
    </section>

    <script src="http://pian.in:8009/socket.io/socket.io.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-socket-io/socket.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
