html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.hide {
  display: none !important;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

body {
  color: #797979;
  background: white;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 13px;
}

.wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.online-users,
.chat-room {
  float: left;
  height: 100vh;
  z-index: 1;
}

.online-users header,
.chat-room header {
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.online-users header {
  background: #00A8B3;
}

.chat-room header {
  background: #41CAC0;
}
.online-users {
  width: 200px;
  background: #e5e8ef;
}

.chat-room {
  flex-direction: column;
  display: flex;
  background: white;
}

.online-users ul,
.chat-room footer {
  padding: 15px;
  list-style-type: none;
}

.online-users ul li {
  line-height: 25px;
  position: relative;
  padding-left: 15px;
}

.online-users ul li:before {
  content: "";
  overflow: hidden;
  width: 8px;
  height: 8px;
  background: #A9D86E;
  display: block;
  position: absolute;
  top: 9px;
  left: 0;
  border-radius: 50%;
}

.chat-room-messages {
  flex: 1;
  overflow-y: scroll;
}

.message-box {
  display: flex;
  border-bottom: 1px solid #eaebee;
}

.message-box.logout {
  background: #FFEDEB;
}
.message-box.joined {
  background: #E5FFFD;
}
.message-box.message {}

.message-box .user-name,
.message-box .message,
.message-box .when {
  padding: 15px 10px;
}
.message-box:nth-child(odd) .user-name {
  background: #f7f8fa;
  color: #6a6a6a;
  font-weight: bold;
}
.message-box .user-name {
  width: 15vw;
}
.message-box .message {
  width: 80vw;
}
.message-box .when {
  width: 10vw;
  color: #d4d3d3;
}

.chat-room footer {
  display: flex;
  background: #f6f6f6;
}

.chat-room footer .chat-txt {
  flex: 1;
  margin-right: 5px;
}

input {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 6px;
  border: 1px solid #e2e2e4;
  padding: 6px 12px;
  color: #777;
  outline: none;
  height: 34px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

button {
  width: 8vw;
  text-align: center;
  background: #ff6c60;
  border: 1px solid #ff6c60;
  display: inline-block;
  padding: 6px 12px;
  font-style: 14px;
  white-space: nowrap;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.dialog-name {
  max-width: 50%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #e2e2e4;
  background: #41CAC0;
}

.dialog-name h2 {
  color: white;
}

.dialog-name button {
  display: block;
  width: 100%;
  margin: 5px 0;
}

.dialogs-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
